{% extends 'base.twig' %}

{% block navigation %}
{% endblock navigation %}

{% block header %}
        <div class="span12">
	    
        </div>
{% endblock header %}

{% block main %}
   {% include 'navbar.twig' %}

    <div class="belowNavbar">
        <!-- Button to trigger modal -->
        <a href="#myModal" role="button" class="btn" data-toggle="modal">Write Proposal</a>
        
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">New Proposal</h3>
          </div>
          <div class="modal-body">

            <form accept-charset="UTF-8" action="newproposal" method="POST">
                <input type="text" id="title" name="title" placeholder="Title" required>        
                <textarea class="span7" id="content" name="content"
                placeholder="Type in your proposal" rows="10" required></textarea>   
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" type="submit">Post Proposal</button>              

                </form>
          </div>
        </div>        
    <div class="row">
        {% for proposal in proposals %}
            <div class="span8">
                <hr>
                <div class="row">
                    <div class="span8">
                        <h4><strong>{{proposal.title}}</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="span8">
                        <p>
                            {{proposal.content}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span8">
                        <p>
                            | <i class="icon-calendar"></i> {{proposal.date}} |                   
                        </p>
                    </div>
                </div>
                <hr>
            </div>                                        
        {% endfor %}
    </div>
   </div>
   
{% endblock main %}

{% block footer %}
{% endblock footer %}
