<html>
    {% block main %}
    <head></head>        
    <body onload="document.helper.submit()">   
        <form name= "helper" action="sender" method="post">
            <input type="hidden" id="userinfo" name="userinfo" value="{{userinfo}}">
        </form>
    </body>
    {% endblock main %}
</html>